@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');




* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 22px;
}

.navigation h2 {
    color: azure;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.navigation h2 a {
    text-decoration: none;
    cursor: pointer;
    color: azure;
}

.nav-right {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.nav-right a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 14px;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.nav-right a:hover {
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
}

/* content one */
.content-one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25vh;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 25px 20px -10px;
}

.one-left {
    color: #eee;
    margin: 0 0 0 16vh;
    padding-right: 10px;

}

.one-right {
    margin: 0 1vh 0 0;
}

.one-left h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.one-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 1.5rem 1rem 1.5rem;
}

.one-right img {
    display: flex;
    height: 230px;
    width: 580px;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.one-right img:hover {
    transform: scale(1.05);
}


.button {
    background-color: #3882F6;
    padding: 6px 84px;
    border-radius: 13px;
    border: 1px solid #3882F6;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: white;
}

/* content two */
.divider {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.divider h2 {
    font-size: 36px;
}

.divider h2 span {
    color: #3882F6;
    font-size: 56px;
    padding-bottom: 10px;
    border-bottom: 3px dotted #3888F6;
}

.content-two {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10rem;
    gap: 32px;

}

.content-two h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 6vh;
    padding-bottom: 32px;
}

.content-two img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.card {
    max-width: 300px;
    transition: 0.5s;
    cursor: pointer;
    padding: 53px 10px;
    border-radius: 5px;
    border: 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card p {
    cursor: pointer;
}

.content-two .card:hover {
    transform: scale(1.1);
}


/* content three */

.content-three {
    margin: 0 5rem;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    transition: 0.5s;
}

.content-three:hover {
    box-shadow: rgba(17, 17, 26, 0.329) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.three-message {
    padding: 13rem;
    margin: 0 9rem;
}

.three-message #a {
    font-size: 36px;
    font-family: "Jura", sans-serif;
}

.author-three {
    margin-top: 3rem;
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    font-size: 26px;
    font-weight: 600;
}

.three-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    margin-bottom: 10px;
}

.checked {
    margin: 6px;
    color: orange
}

/* content four */
.content-four {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;

}

.four {
    color: white;
    margin-right: 9rem;
}

.four p {
    font-size: 18px;
}

.four #four-bold {
    font-weight: 900;
    font-size: 28px;
}

.action-four {
    display: flex;
    padding: 5rem 9rem;
    gap: 4rem;
    background-color: #3882F6;
    border-radius: 10px;
    transition: 0.5s;
}

.action-four:hover {
    padding: 5rem 14rem;
}

.button-four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 550;
    padding: 0.7rem 2.8rem;
    border-radius: 12px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.button-four:hover {
    color: #3882F6;
    background-color: white;
}


/* footer */

footer {
    background-color: #1f2937;
    color: #b3b3b3;
    padding: 10vh;
    display: flex;
    flex-direction: row;
}

.foot.right #foot-par {
    margin-top: 10px;
    width: 300px;
}

.foot.right {
    padding: 1rem;
}

.foot.left {
    display: flex;
    flex: 1;
    gap: 32px;
    border-left: 1px solid gray;
    padding-left: 13px;
    justify-content: flex-end;
}
.foot.down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.foot.down a i {
    color: #a1a1a1;
    font-size: 27px;
    transition: 0.5s;
    cursor: pointer;
}
.foot.down a i:hover {
    color: #eee;
}

.foot.left ul {
    list-style: none;
}

.foot.left ul li {
    margin: 12px;
}

.foot.left ul li a {
    color: #b3b3b3;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.foot.left ul li a:hover {
    color: #eee;
}